manifest {
    mainScript = "main.nf"
}

params {
    outdir = "GGP_pipeline_results"

    // --- INPUTS
    study_name = ''
    assemblies = ''
    raw_reads = ''
    rename_file = ''

    bam = ''
    bam_index = ''
    bins = ''

    ref_genome = ''
    ref_genome_name = ''
    CAT_ref_db = ''
    cat_diamond_db_name = ''
    cat_db_name = ''
    cat_taxonomy_db = ''
    eukcc_ref_db = ''
    gunc_ref_db = ''
    checkm_ref_db = ''
    rfam_rrna_models = ''
    gtdbtk = ''
}

profiles {

    lsf {
        workDir = params.workdir
        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"
    }
    singularity {
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }

    ebi {
        params {
            outdir = "GGP_pipeline_results"

            sample_name = ""
            single_end = ""
            paired_end_forward = ""
            paired_end_reverse = ""
            mode = ""
            contigs = ""
            ref_genome = ""
            ref_genome_name = ""
            cat_diamond_db_name = 'Diamond_2.0.6/diamond'
            cat_db_name = '2021-01-07_CAT_database'
            cat_taxonomy_db = '2021-01-07_taxonomy'

            workdir = "/hps/nobackup/rdf/metagenomics/nextflow-jobstore/GGP_pipeline"
            singularity_cachedir = "/hps/nobackup/rdf/metagenomics/singularity_cache_nextflow/"
        }
        workDir = params.workdir

        executor {
            name = "lsf"
            queueSize = 200
        }
        process.cache = "lenient"

        includeConfig 'config/nf_codon.config'
        includeConfig 'config/nf_codon_dbs.config'
    }

    local {
         docker {
            enabled = true
            autoMounts = true
        }
        executor {
            name = "local"
            cpus = 2
        }

        includeConfig 'config/nf_local.config'
    }
}
