manifest {
    nextflowVersion = '!>=21.10.0'
    mainScript = "main.nf"
}

plugins {
  id 'nf-validation'
}

params {

    // Used to store files and workdir
    name                       = ""

    // Input
    samplesheet                = ""
    
    // Feature flags
    merge_pairs                = true
    skip_prok                  = false
    skip_euk                   = false

    skip_maxbin2               = false
    skip_metabat2              = false
    skip_concoct               = false

    min_contig_size            = 1500
    metabat2_rng_seed          = 1

    // Reference databases
    // Defaults only, expecting to be overwritten
    busco_db                   = "/path/to/busco-db"
   
    // change to corresponding release
    cat_db_folder              = "/path"
    cat_diamond_db             = "/path/to/diamond"
    cat_taxonomy_db            = "2021-01-07_taxonomy"

    checkm2_db                 = "/path/to/uniref100.KO.1.dmnd"

    eukcc_db                   = "/path/to/eukccdb/eukcc2_db_ver_1.2"
    gunc_db                    = "/path/to/gunc_db_2.0.4.dmnd"
    gtdbtk_db                  = "/path/to/release207_v2"

    ref_genome                 = "/path/to/bwa-mem2-hg38.fa"
    rfam_rrna_models           = "/path/to/rfams_cms"

    gtdbtk_db                  = "/path/to/gtdbtk_ref_db"

    // Boilerplate options
    outdir                     = null
    publish_dir_mode           = 'copy'
    help                       = false
    version                    = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = ''
    validationShowHiddenParams       = false
    validate_params                  = true
}

profiles {
    singularity {
       enabled = true
       autoMounts = true
       cacheDir = params.singularity_cachedir
       registry = 'quay.io'
    }

    ebi {
        includeConfig 'config/nf_codon.config'
        includeConfig 'config/nf_codon_dbs.config'
        includeConfig 'config/nf_modules.config'
    }
    ebi_lsf {
        includeConfig 'config/nf_codon_lsf.config'
        includeConfig 'config/nf_codon_dbs.config'
        includeConfig 'config/nf_modules.config'
    }

    local {
         docker {
            enabled = true
            autoMounts = true
            registry = 'quay.io'
            userEmulation = true
            runOptions = "--platform linux/x86_64"
        }
        executor {
            name = "local"
            cpus = 2
            memory = '1 GB'
        }

        includeConfig 'config/nf_local.config'
        includeConfig 'config/nf_modules.config'
    }
}
