/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

manifest {
    mainScript = "main.nf"
}

params {
    outdir = "results"

}

profiles {

    local {
         docker {
            enabled = true
            autoMounts = true
        }
        executor {
            name = "local"
            cpus = 2
        }

        includeConfig '../config/nf_local.config'
        stub: true
    }
}
