/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store EBI's Codon cluster specifics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
// On a successful completion of a run all files in work directory are automatically deleted.
cleanup = true

params {
    outdir               = "results"
    workdir              = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/genomes-generation-pipeline/${params.project}"
    singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"
}

workDir = params.workdir

process {
    withName: ALIGNMENT_DECONTAMINATION {
        cpus = 16
        memory     = { 50.GB * task.attempt }
        maxRetries    = 3
    }
    withName: CHECKM2 {
        cpus = 8;
        memory = { 100.GB * task.attempt }
    }
    withName: DREP {
        cpus = 32
    }
    withName: INDEX_FASTA {
        cpus = 16
    }
    withName: GTDBTK {
        cpus = 32
        memory = { 300.GB * task.attempt }
    }
    withName: GZIP {
        cpus = 16
    }
}

profiles {
    ebi {
        includeConfig 'codon_dbs.config'
        conda.enabled = false

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}