/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store EBI's Codon cluster high-mem specifics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: ALIGNMENT_DECONTAMINATION {
        errorStrategy = { task.exitStatus in ((130..145) + 104 + 1) ? 'retry' : 'finish' }
        cpus = 16
        memory     = { 200.GB * task.attempt }
        time       = { 10.h   * task.attempt }
        maxRetries    = 3
    }

    withName: CHECKM2 {
        cpus = 16;
        memory = { 300.GB * task.attempt }
    }

    withName: DREP {
        cpus = 32
    }

    withName: INDEX_FASTA {
        cpus = 16
    }

    withName: GTDBTK {
        cpus = 32
        memory = { 500.GB * task.attempt }
    }

    withName: GZIP {
        cpus = 16
    }

    withName: MULTIQC {
        cpus   = { 4 * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
}