/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Example of DBs
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {

    checkm2_db = "checkm2_uniref100.KO.1.dmnd"

    gunc_db = "gunc_db.dmnd"
    gtdbtk_db = "GTDB-TK_DB"

    busco_db = "busco_db"
    eukcc_db = "eukcc2_db"

    cat_db_folder = "CAT_DB/2021-01-07_CAT_database/"
    cat_diamond_db = "CAT_DB/Diamond_2.0.6/diamond"
    cat_taxonomy_db = "CAT_DB/2021-01-07_taxonomy/"

    ref_genome = "GENOME.fasta"
    rfam_rrna_models = "rfams_cms_folder"
}
