/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to execute pipeline locally
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '1.GB',
        time: '1.h'
    ]
}


params {
    project = "local_test"
    samplesheet = "assets/samplesheet_example.csv"
    assembly_software_file = "assets/software.tsv"

    ref_genome = "tests/resources/ref/GRCh38_chr10.fasta"

    busco_db = "output_test/dbs/busco_db"
    cat_db_folder = "output_test/dbs/cat_db"
    cat_diamond_db = "output_test/dbs/cat_diamond"
    cat_taxonomy_db = "output_test/dbs/cat_taxonomy_db"

    checkm2_db = "output_test/dbs/checkm2_db.dmnd"
    eukcc_db = "output_test/dbs/eukcc_db"

    gunc_db = "output_test/dbs/gunc_db.dmnd"

    gtdbtk_db = "output_test/dbs/gtdbtk_db"

    rfam_rrna_models = "output_test/dbs/rfam_rrna_models"
}