/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to execute pipeline locally
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '10.GB',
        time: '1.h'
    ]
    withName: INDEX_FASTA {
        memory = '2.GB'
    }
}


params {
    project = "local_test"
    ref_genome = "resources/ref/GRCh38_chr10.fasta"
    eukcc_db = "resources/eukcc"
    busco_db = "resources/busco_db"
    cat_db_folder = "resources/cat_db"
    cat_diamond_db = "resources/checkm2_db.dmnd"
    cat_taxonomy_db = "resources/cat_taxonomy"
    checkm2_db = "resources/checkm2_db.dmnd"
    gunc_db = "resources/gunc_db.dmnd"
    gtdbtk_db = "resources/cat_taxonomy"
    rfam_rrna_models = "resources/cat_taxonomy"

    outdir = 'results_test'
}