/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: "FASTP" {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/fastp/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.fastp.html",
                // saveAs: { filename -> "${filename.contains('.') ? filename.split('.')[0] : filename}/${filename}" }
            ],
            [
                path: "${params.outdir}/intermediate_steps/fastp/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.fastp.log",
                // saveAs: { filename -> "${filename.contains('.') ? filename.split('.')[0] : filename}/${filename}" }
            ],
            [
                path: "${params.outdir}/intermediate_steps/fastp/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.fastp.json",
                // saveAs: { filename -> "${filename.contains('.') ? filename.split('.')[0] : filename}/${filename}" }
            ]
        ]
    }

    withName: FEATURED_ALIGNMENT {
        ext.alignment_args = [
            "-q", "20",
            "-Sb",
            "-F", "4"
        ].join(' ')

        ext.concoct_cut_up_fasta_args = [
            "-c 10000",
            "--merge_last",
            "-o 0"
        ].join(' ')

        ext.concoct_coverage_table_args = ''

        ext.jgi_summarize_bam_contig_depths_args = ''

        ext.concoct_prefix = { "concoct-${meta.id}" }

        publishDir = [
            path: { "${params.outdir}/intermediate_steps/binning/concoct/coverage" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: ALIGNMENT_LINKTABLE {
        ext.alignment_args = [
            "-q", "20",
            "-Sb",
            "-F", "4"
        ].join(' ')
    }

    withName: ALIGNMENT_DECONTAMINATION {
        ext.decontamination_args = [
            "-f", "4",
            "-F", "256",
            "-uS"
        ].join(' ')
    }

    withName: BAT_TAXONOMY_WRITER {
        publishDir = [
            [
                path: "${params.outdir}/taxonomy/eukaryotes/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "all_bin2classification.txt"
            ],
            [
                path: "${params.outdir}/taxonomy/eukaryotes/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "human_readable.taxonomy.csv"
            ]
        ]
    }

    withName: BUSCO_EUKCC_QC {
        publishDir = [
            [
                path: "${params.outdir}/stats/eukaryotes/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.csv"
            ]
        ]
    }

    withName: "CHECKM2" {
        publishDir = [
            [
                path: "${params.outdir}/stats/prokaryotes/checkm2",
                mode: params.publish_dir_mode,
                pattern: "aggregated*.?sv"
            ],
            [
                path: "${params.outdir}/intermediate_steps/prokaryotes/refinement/checkm2",
                mode: params.publish_dir_mode,
                pattern: "binner*filtered_genomes.tsv"
            ]
        ]
    }

    withName: CHECKM2_TABLE_FOR_DREP_GENOMES {
        publishDir = [
            [
                path: "${params.outdir}/stats/prokaryotes",
                mode: params.publish_dir_mode,
            ]
        ]
    }

    withName: CONCOCT_CUTUPFASTA {

        ext.args = [
            "-c 10000",
            "--merge_last",
            "-o 0"
        ].join(' ').trim()
        ext.prefix = { "concoct-${meta.id}" }
    }

    withName: CONCOCT_CONCOCT {

        ext.args = [
            params.min_contig_size <= 1000 ? "-l 1000" : "-l ${params.min_contig_size}",
        ].join(' ').trim()
    }

    withName: CONSOLIDATE_BINS {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/prokaryotes/refinement/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "consolidated_stats.tsv"
            ],
            [
                path: "${params.outdir}/intermediate_steps/prokaryotes/refinement/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "dereplicated_list.tsv"
            ],
        ]
    }

    withName: COVERAGE_RECYCLER {
        publishDir = [
            [
                path: "${params.outdir}/coverage/prokaryotes",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: { filename -> {
                            if (filename.split('/').size() <= 2) {
                                return null;
                            } else {
                                def subfolder = filename.split('/')[1];
                                def file = filename.split('/')[2];
                                return "${subfolder}/${file}";
                                }
                            }
                        }
            ],
            [
                path: "${params.outdir}/coverage/prokaryotes",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "coverage/aggregated_contigs2bins.txt",
            ]
        ]
    }


    withName: COVERAGE_RECYCLER_EUK {
        publishDir = [
            [
                path: "${params.outdir}/coverage/eukaryotes",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: { filename -> {
                            if (filename.split('/').size() <= 2) {
                                return null;
                            } else {
                                def subfolder = filename.split('/')[1];
                                def file = filename.split('/')[2];
                                return "${subfolder}/${file}";
                                }
                            }
                        }
            ],
            [
                path: "${params.outdir}/coverage/eukaryotes",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "coverage/aggregated_contigs2bins.txt",
            ]
        ]
    }

    withName: DETECT_RRNA {
        publishDir = [
            [
                path: "${params.outdir}/rna",
                saveAs: {
                    filename -> {
                        if ( !filename.endsWith(".fasta") ) {
                            return null
                        }
                        def output_file = new File(filename);
                        def genome_id = fasta.baseName;
                        if ( output_file.name.contains("_rRNAs") ) {
                            return "${genome_id}/${genome_id}_fasta/${output_file.name}";
                        }
                        return null;
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
            [
                path: "${params.outdir}/rna",
                saveAs: {
                    filename -> {
                        if ( !filename.endsWith(".out") ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        def genome_id = fasta.baseName;
                        if ( output_file.name.contains("_rRNAs") || output_file.name.contains("_tRNA_20aa") ) {
                            return "${genome_id}/${genome_id}_out/${output_file.name}";
                        }
                        return null;
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: true,
            ]
        ]
    }

    withName: EUKCC {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/eukaryotes/eukcc/merged_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.merged_bins.csv"
            ],
            [
                path: "${params.outdir}/intermediate_steps/eukaryotes/eukcc/stats/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.eukcc.csv"
            ]
        ]
    }


    withName: LINKTABLE {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/eukaryotes/eukcc/links/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.links.csv"
            ]
        ]
    }

    withName: GUNC {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/prokaryotes/gunc",
                mode: params.publish_dir_mode,
                failOnError: false,
                pattern: "gunc_contaminated.txt"
            ]
        ]
    }

    withName: FILTER_QUALITY {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/eukaryotes/qs50/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "quality_file.csv"
            ],
        ]
    }


    withName: GTDBTK {
        publishDir = [
            [
                path: "${params.outdir}/taxonomy/prokaryotes",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "gtdbtk_results.tar.gz"
            ]
        ]
    }


    withName: GTDBTK_TO_NCBI_TAXONOMY {
        publishDir = [
            [
                path: "${params.outdir}/taxonomy/prokaryotes",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "ncbi_taxonomy.txt"
            ]
        ]
    }


    withName: MAXBIN2 {

        publishDir = [
            [
                path: { "${params.outdir}/intermediate_steps/binning/maxbin2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*.tooshort.gz'
            ],
        ]
        ext.prefix = { "maxbin2-${meta.id}" }
        // if no gene found, will crash so allow ignore so rest of pipeline
        // completes but without MaxBin2 results
        ext.args = [
            params.min_contig_size <= 1000 ? "-min_contig_length 1000" : "-min_contig_length ${params.min_contig_size}",
        ].join(' ').trim()
    }

    withName: METABAT2_METABAT2 {

        publishDir = [
            [
                path: { "${params.outdir}/intermediate_steps/binning/metabat2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*tooShort*'
            ],
            [
                path: { "${params.outdir}/intermediate_steps/binning/metabat2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*lowDepth*'
            ]
        ]
        ext.prefix = { "metabat2-${meta.id}" }
        ext.args = [
            params.min_contig_size < 1500 ? "-m 1500" : "-m ${params.min_contig_size}",
            "--unbinned",
            "--seed ${params.metabat2_rng_seed}"
        ].join(' ').trim()
    }

    withName: METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS {
        publishDir = [
            path: { "${params.outdir}/intermediate_steps/binning/metabat2/depths" },
            mode: params.publish_dir_mode,
            pattern: '*.txt.gz'
        ]
    }

    withName: CONCOCT_CONCOCTCOVERAGETABLE {
        publishDir = [
            path: { "${params.outdir}/intermediate_steps/binning/concoct/coverage" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }

    withName: MODIFY_QUALITY_FILE {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/eukaryotes/qs50",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "aggregated_euk_quality.csv"
            ],
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: PREPARE_TSV_FOR_UPLOADER {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FINALIZE_LOGGING {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
        ]
    }
}
