process {
    withName: METAWRAP_BINNING { cpus = 1; memory = '10.0 GB'}
    withName: BIN_REFINEMENT {
        cpus = 2;
        memory = '10 GB';
        conda '/hps/software/users/rdf/metagenomics/service-team/software/miniconda_py39/envs/metawrap_v1.3'
    }
    withName: MAP_HOST_GENOME { cpus = 2; memory = '5.0 GB'}
    withName: MAG_CLEANUP_CAT { cpus = 2; memory = '1.0 GB'}
}
params {
    paired_end_forward = "/hps/nobackup/rdf/metagenomics/service-team/users/kates/eukrecover/data/community/community_1.fastq.gz"
    paired_end_reverse = "/hps/nobackup/rdf/metagenomics/service-team/users/kates/eukrecover/data/community/community_2.fastq.gz"
    sample_name = "minicommunity"
    mode = "paired"
    contigs = "/hps/nobackup/rdf/metagenomics/service-team/users/kates/eukrecover/data/community/contigs.fasta"
    bam = '/hps/nobackup/rdf/metagenomics/service-team/users/kates/eukrecover/data/community/results/bam/test/minicommunity/reads.bam'
    bam_index = '/hps/nobackup/rdf/metagenomics/service-team/users/kates/eukrecover/data/community/results/bam/test/minicommunity/reads.bam.bai'

    bins = "/hps/nobackup/rdf/metagenomics/service-team/users/kates/eukrecover/data/community/results/binning/test/minicommunity/maxbin2_bins"

    ref_genome = "tests/resources/ref"
    ref_genome_name = "GRCh38_chr10.fasta"
    CAT_ref_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/cat/CAT_prepare_20210107"
    eukcc_ref_db = "/hps/nobackup/rdf/metagenomics/service-team/ref-dbs/eukccdb/eukcc2_db_ver_1.1"
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = params.singularity_cachedir
}
conda.enabled = true