process {
    withName: ALIGNMENT { cpus = 16; memory = '50.0 GB'}
    withName: BAM_TO_FASTQ { cpus = 16; memory = '5.0 GB'}
    withName: BIN_REFINEMENT {
        cpus = 8;
        memory = '50 GB';
        conda = '/hps/software/users/rdf/metagenomics/service-team/software/miniconda_py39/envs/metawrap_v1.3'
    }
    withName: BUSCO { cpus = 4; memory = '30.0 GB'}
    withName: CHECKM2 {
        cpus = 8;
        memory = '30.0 GB';
        conda = '/hps/software/users/rdf/metagenomics/service-team/software/miniconda_py39/envs/checkm2'
    }
    withName: GUNC { cpus = 4; memory = '20.0 GB'}
    withName: FASTP { cpus = 16; memory = '20.0 GB'}
    withName: MAG_CLEANUP_CAT { cpus = 2; memory = '20.0 GB'}
    withName: METAWRAP_BINNING { cpus = 8; memory = '30.0 GB'}
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = params.singularity_cachedir
}
conda.enabled = true