process {
    withName: METAWRAP_BINNING { cpus = 1; memory = '10.0 GB'}
    withName: BIN_REFINEMENT {
        cpus = 2;
        memory = '50 GB';
        conda = '/hps/software/users/rdf/metagenomics/service-team/software/miniconda_py39/envs/metawrap_v1.3'
    }
    withName: ALIGNMENT { cpus = 16; memory = '50.0 GB'}
    withName: MAG_CLEANUP_CAT { cpus = 2; memory = '20.0 GB'}
    withName: BUSCO { cpus = 4; memory = '30.0 GB'}
    withName: GUNC { cpus = 4; memory = '20.0 GB'}
    withName: CHECKM2 {
        cpus = 8;
        memory = '30.0 GB';
        conda = '/hps/software/users/rdf/metagenomics/service-team/software/miniconda_py39/envs/checkm2'
    }
}
params {
    study_name = "mock_2m"
    assemblies = "/hps/nobackup/rdf/metagenomics/service-team/projects/finding-pheno/mags_pipeline/mock_community/mock_2m/assemblies"
    raw_reads = "/hps/nobackup/rdf/metagenomics/service-team/projects/finding-pheno/mags_pipeline/mock_community/mock_2m/raw_reads"
    rename_file = "/hps/nobackup/rdf/metagenomics/service-team/projects/finding-pheno/mags_pipeline/mock_community/mock_2m/rename.txt"
}

singularity {
   enabled = true
   autoMounts = true
   cacheDir = params.singularity_cachedir
}
conda.enabled = true