process.executor = 'local'

process {
    withName: METAWRAP_BINNING { cpus = 1; memory = '10.0 GB'}
    withName: BIN_REFINEMENT {cpus = 2; memory = '10 GB'}
    withName: MAP_HOST_GENOME { cpus = 2; memory = '5.0 GB'}
}
params {
    paired_end_forward = "tests/cwl/resources/ERR_1.fastq";
    paired_end_reverse = "tests/cwl/resources/ERR_2.fastq";
    sample_name = "ERR"
    mode = "paired"
    contigs = "tests/cwl/resources/ERR.fasta"

    ref_genome = "tests/cwl/resources/ref"
    ref_genome_name = "GRCh38_chr10.fasta"
}