/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to execute pipeline locally
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process.executor = 'local'

process {
    withName: MAG_CLEANUP_CAT { cpus = 2; memory = '1.0 GB'}
}

params {
    study_name = "SRP080083"
    assemblies = "data/assembly"
    raw_reads = "data/raw"

    rename_file = "data/rename.txt"

    ref_genome = "tests/resources/ref/GRCh38_chr10.fasta"

    busco_db = ""

    cat_diamond_db = "2021-01-07_CAT_database/Diamond_2.0.6/diamond"
    cat_taxonomy_db = "2021-01-07_CAT_database/2021-01-07_taxonomy"

    checkm2_db = ""
    eukcc_db = ""

    gunc_db = ""

    gtdbtk_db = ""

    rfam_rrna_models = ""
}