/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    withName: ADJUST_MAXBIN2_EXT {
        publishDir = [
            [
                path: { "${params.outdir}/GenomeBinning/MaxBin2/bins" },
                mode: params.publish_dir_mode,
                //pattern: '*.fa.gz'
            ],
        ]
    }

    withName: ALIGNMENT {
        ext.alignment_args = [
            "-q", "20",
            "-Sb",
        ].join(' ').trim()
        ext.decontamination_args = [
            "-f", "12",
            "-F", "256",
            "-uS",
        ].join(' ').trim()
    }

    withName: BAT {
        publishDir = [
            [
                path: "${params.outdir}/bat_output",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BAT_TAXONOMY_WRITER {
        publishDir = [
            [
                path: "${params.outdir}/euk_taxonomy",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BREADTH_DEPTH {
        publishDir = [
            [
                path: "${params.outdir}/euk_coverage/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BUSCO {
        publishDir = [
            [
                path: "${params.outdir}/final_qc_euk",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BUSCO_QC {
        publishDir = [
            [
                path: "${params.outdir}/final_qc_euk",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: CAT {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/cleaning_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: CHANGE_DOT_TO_UNDERSCORE_CONTIGS {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/process_input",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: CHANGE_DOT_TO_UNDERSCORE_READS {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/process_input",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: CHECKM2 {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/checkm2",
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: CHECKM_TABLE_FOR_DREP_GENOMES {
        publishDir = [
            [
                path: "${params.outdir}/",
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: CONCATENATE_QUALITY_FILES {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/qs50",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: "CONCOCT_.*" {
        publishDir = [
            [
                path: { "${params.outdir}/GenomeBinning/CONCOCT/stats/" },
                mode: params.publish_dir_mode,
                pattern: "*.{txt,csv,tsv}"
            ],
            [
                path: { "${params.outdir}/GenomeBinning/CONCOCT/bins" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> new File(filename).getName() },
                pattern: "*/*.fa.gz"
            ]
        ]
        ext.prefix = { "CONCOCT-${meta.id}" }
    }

    withName: CONCOCT_CUTUPFASTA {
        ext.args = [
            "-c 10000",
            "--merge_last",
            "-o 0"
        ].join(' ').trim()
    }

    withName: CONCOCT_CONCOCT {
        ext.args = [
            params.min_contig_size <= 1000 ? "-l 1000" : "-l ${params.min_contig_size}",
        ].join(' ').trim()
    }

    withName: CONSOLIDATE_BINS {
        publishDir = [
            [
                path: "${params.outdir}/consolidated_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: COVERAGE_RECYCLER {
        publishDir = [
            [
                path: "${params.outdir}/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: DETECT_RRNA {
        publishDir = [
            [
                path: "${params.outdir}/RNA",
                saveAs: {
                    filename -> {
                        if ( !filename.endsWith(".fasta") ) {
                            return null
                        }
                        def output_file = file(filename);
                        def genome_id = fasta.baseName;
                        if ( output_file.name.contains("_rRNAs") ) {
                            return "${genome_id}/${genome_id}_fasta-results/${output_file.name}";
                        }
                        return null;
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
            [
                path: "${params.outdir}/RNA",
                saveAs: {
                    filename -> {
                        if ( !filename.endsWith(".out") ) {
                            return null;
                        }
                        def output_file = file(filename);
                        def genome_id = fasta.baseName;
                        if ( output_file.name.contains("_rRNAs") || output_file.name.contains("_tRNA_20aa") ) {
                            return "${genome_id}/${genome_id}_out-results/${output_file.name}";
                        }
                        return null;
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: DREP_MAGS {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/drep_euk_mags",
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: EUKCC {
        publishDir = [
            [
                path: "${params.outdir}/eukcc/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*_merged_bins"
            ],
            [
                path: "${params.outdir}/eukcc/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.eukcc.csv"
            ],
        ]
    }

    withName: EUKCC_MAG {
        publishDir = [
            [
                path: "${params.outdir}/eukcc_mags/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: EUKCC_SINGLE {
        publishDir = [
            [
                path: "${params.outdir}/final_qc_euk/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: GUNC {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/gunc/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: FILTER_QS50 {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/qs50",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: GTDBTK {
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: LINKTABLE {
        publishDir = [
            [
                path: "${params.outdir}/eukcc/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.links.csv"
            ],
        ]
    }

    withName: MAXBIN2 {
        publishDir = [
            [
                path: { "${params.outdir}/GenomeBinning/MaxBin2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*.tooshort.gz'
            ],
        ]
        ext.prefix = { "MaxBin2-${meta.id}" }
        // if no gene found, will crash so allow ignore so rest of pipeline
        // completes but without MaxBin2 results
        ext.args = [
            params.min_contig_size <= 1000 ? "-min_contig_length 1000" : "-min_contig_length ${params.min_contig_size}",
        ].join(' ').trim()
    }

    withName: METABAT2_METABAT2 {
        publishDir = [
            [
                path: { "${params.outdir}/GenomeBinning/MetaBAT2/" },
                mode: params.publish_dir_mode,
                pattern: 'bins/*.fa.gz'
            ],
            [
                path: { "${params.outdir}/GenomeBinning/MetaBAT2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*tooShort.fa.gz'
            ],
            [
                path: { "${params.outdir}/GenomeBinning/MetaBAT2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*lowDepth.fa.gz'
            ]
        ]
        ext.prefix = { "MetaBAT2-${meta.id}" }
        ext.args = [
            params.min_contig_size < 1500 ? "-m 1500" : "-m ${params.min_contig_size}",
            "--unbinned",
            "--seed ${params.metabat_rng_seed}"
        ].join(' ').trim()
    }

    withName: METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS {
        publishDir = [
            path: { "${params.outdir}/GenomeBinning/depths/contigs" },
            mode: params.publish_dir_mode,
            pattern: '*.txt.gz'
        ]
    }

    withName: MODIFY_QUALITY_FILE {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/qs50",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }
}
