/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: ALIGNMENT {
        ext.alignment_args = [
            "-q", "20",
            "-Sb",
        ].join(' ').trim()
        ext.decontamination_args = [
            "-f", "12",
            "-F", "256",
            "-uS",
        ].join(' ').trim()
    }

    withName: BAT_TAXONOMY_WRITER {
        publishDir = [
            [
                path: "${params.outdir}/Taxonomy/Euks/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BREADTH_DEPTH {
        publishDir = [
            [
                path: "${params.outdir}/Coverage/Euks/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BUSCO {
        publishDir = [
            [
                path: "${params.outdir}/QC/BUSCO/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: BUSCO_EUKCC_QC {
        publishDir = [
            [
                path: "${params.outdir}/QC/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: CAT {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/cleaning_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }
    withName: "CHECKM2" {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/checkm2",
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: "CHECKM2_REFINE" {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/checkm2/Refinement",
                mode: params.publish_dir_mode,
            ],
        ]
    }
    withName: "CHECKM2_BINNER*" {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/checkm2/Binning",
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: CHECKM_TABLE_FOR_DREP_GENOMES {
        publishDir = [
            [
                path: "${params.outdir}/",
                mode: params.publish_dir_mode,
            ],
        ]
    }

    withName: "CONCOCT_.*" {

        publishDir = [
            [
                path: { "${params.outdir}/intermediate_steps/Binning/CONCOCT/bins" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> new File(filename).getName() },
                pattern: "*/*.fa"
            ]
        ]
        ext.prefix = { "CONCOCT-${meta.id}" }
    }

    withName: CONCOCT_CUTUPFASTA {

        ext.args = [
            "-c 10000",
            "--merge_last",
            "-o 0"
        ].join(' ').trim()
    }

    withName: CONCOCT_CONCOCT {

        ext.args = [
            params.min_contig_size <= 1000 ? "-l 1000" : "-l ${params.min_contig_size}",
        ].join(' ').trim()
    }

    withName: CONSOLIDATE_BINS {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/Refinement/consolidated_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "consolidated_bins/*"
            ],
            [
                path: "${params.outdir}/intermediate_steps/Refinement/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "consolidated_stats.tsv"
            ],
            [
                path: "${params.outdir}/intermediate_steps/Refinement/dereplicated_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "dereplicated_bins/*"
            ],
        ]
    }

    withName: COVERAGE_RECYCLER {
        publishDir = [
            [
                path: "${params.outdir}/Coverage/Proks/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: DETECT_RRNA {
        publishDir = [
            [
                path: "${params.outdir}/RNA",
                saveAs: {
                    filename -> {
                        if ( !filename.endsWith(".fasta") ) {
                            return null
                        }
                        def output_file = file(filename);
                        def genome_id = fasta.baseName;
                        if ( output_file.name.contains("_rRNAs") ) {
                            return "${genome_id}/${genome_id}_fasta-results/${output_file.name}";
                        }
                        return null;
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
            [
                path: "${params.outdir}/RNA",
                saveAs: {
                    filename -> {
                        if ( !filename.endsWith(".out") ) {
                            return null;
                        }
                        def output_file = file(filename);
                        def genome_id = fasta.baseName;
                        if ( output_file.name.contains("_rRNAs") || output_file.name.contains("_tRNA_20aa") ) {
                            return "${genome_id}/${genome_id}_out-results/${output_file.name}";
                        }
                        return null;
                    }
                },
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: DREP_MAGS {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/dRep/Euks",
                mode: params.publish_dir_mode,
                pattern: "dereplicated_genomes.txt"
            ],
            [
                path: "${params.outdir}/intermediate_steps/dRep/Euks/dereplicated_genomes",
                mode: params.publish_dir_mode,
                pattern: "drep_output/dereplicated_genomes/*"
            ],
        ]
    }

    withName: EUKCC {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/EukCC/merged_bins/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.merged_bins.csv"
            ],
            [
                path: "${params.outdir}/intermediate_steps/EukCC/stats/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.eukcc.csv"
            ],
        ]
    }

    withName: GUNC {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/GUNC/",
                mode: params.publish_dir_mode,
                failOnError: true,
            ],
        ]
    }

    withName: FILTER_QS50 {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/QS50/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "quality_file.csv"
            ],
        ]
    }

    withName: GTDBTK {
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "Taxonomy"
            ],
        ]
    }

    withName: LINKTABLE {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/EukCC/links/",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.links.csv"
            ],
        ]
    }

    withName: MAXBIN2 {

        publishDir = [
            [
                path: { "${params.outdir}/intermediate_steps/Binning/MaxBin2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*.tooshort.gz'
            ],
        ]
        ext.prefix = { "MaxBin2-${meta.id}" }
        // if no gene found, will crash so allow ignore so rest of pipeline
        // completes but without MaxBin2 results
        ext.args = [
            params.min_contig_size <= 1000 ? "-min_contig_length 1000" : "-min_contig_length ${params.min_contig_size}",
        ].join(' ').trim()
    }

    withName: METABAT2_METABAT2 {

        publishDir = [
            [
                path: { "${params.outdir}/intermediate_steps/Binning/MetaBAT2/" },
                mode: params.publish_dir_mode,
                pattern: '*metabat_bins/*.fa'
            ],
            [
                path: { "${params.outdir}/intermediate_steps/Binning/MetaBAT2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*tooShort.fa'
            ],
            [
                path: { "${params.outdir}/intermediate_steps/Binning/MetaBAT2/discarded" },
                mode: params.publish_dir_mode,
                pattern: '*lowDepth.fa'
            ]
        ]
        ext.prefix = { "MetaBAT2-${meta.id}" }
        ext.args = [
            params.min_contig_size < 1500 ? "-m 1500" : "-m ${params.min_contig_size}",
            "--unbinned",
            "--seed ${params.metabat_rng_seed}"
        ].join(' ').trim()
    }

    withName: METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS {
        publishDir = [
            path: { "${params.outdir}/intermediate_steps/Binning/depths/contigs" },
            mode: params.publish_dir_mode,
            pattern: '*.txt.gz'
        ]
    }

    withName: MODIFY_QUALITY_FILE {
        publishDir = [
            [
                path: "${params.outdir}/intermediate_steps/QS50",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "aggregated_euk_quality.csv"
            ],
        ]
    }
    withName: RENAME_MAXBIN {

        publishDir = [
            [
                path: { "${params.outdir}/intermediate_steps/Binning/MaxBin2/bins" },
                mode: params.publish_dir_mode,
                //pattern: '*.fa.gz'
            ],
        ]
    }
}
